@namespace Sample.Blazor.Layout

<div class="nav-header">
    <span class="nav-title">Shiny Blazor</span>
</div>

<nav>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="pills">Pills</NavLink>
    <NavLink class="nav-link" href="fab">Fab</NavLink>
    <NavLink class="nav-link" href="fab-menu">Fab Menu</NavLink>
    <NavLink class="nav-link" href="cells">Cells</NavLink>
    <NavLink class="nav-link" href="tableview">Table View</NavLink>
    <NavLink class="nav-link" href="bottomsheet">Bottom Sheet</NavLink>
    <NavLink class="nav-link" href="imageviewer">Image Viewer</NavLink>
    <NavLink class="nav-link" href="securitypin">Security Pin</NavLink>
    <NavLink class="nav-link" href="calendar">Scheduler · Calendar</NavLink>
    <NavLink class="nav-link" href="agenda">Scheduler · Agenda</NavLink>
    <NavLink class="nav-link" href="agendalist">Scheduler · List</NavLink>
    <NavLink class="nav-link" href="markdown">Markdown</NavLink>
    <NavLink class="nav-link" href="markdown-editor">Markdown Editor</NavLink>
    <NavLink class="nav-link" href="mermaid">Mermaid</NavLink>
</nav>
